version: "3.8"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001"
    working_dir: /app
    command: ["node", "server.js"]
    volumes:
      - ./backend/data:/app/data  # <- Monte le dossier local ./backend/data dans /app/data du conteneur

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"