/* Display - Regular */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegular.woff2")
      format("woff2"),
    url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Display - Bold */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayBold.woff2")
      format("woff2"),
    url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayBold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Display - SemiBold */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplaySemiBold.woff2")
      format("woff2"),
    url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplaySemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Display - Black */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayBlack.woff2")
      format("woff2"),
    url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayBlack.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Display - Italic */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegularItalic.woff2")
      format("woff2"),
    url("@/assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegularItalic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halogen';
  src: url('@/assets/fonts/Halogen/Halogen-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Halogen/Halogen-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  outline: 5px solid red !important;
} */

*,
*::before,
*::after {
  cursor: none !important;
}
