/* Halogen Regular */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Regular.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Halogen Bold */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Bold.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Halogen Black */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Black.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Halogen Light */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Light.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Halogen Medium */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Medium.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Halogen Thin */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-Thin.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Halogen Italics (Regular) */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-RegularOblique.woff2")
      format("woff2"),
    url("./assets/fonts/Halogen/Halogen-RegularOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Halogen Italics (Bold) */
@font-face {
  font-family: "Halogen";
  src: url("./assets/fonts/Halogen/Halogen-BoldOblique.woff2") format("woff2"),
    url("./assets/fonts/Halogen/Halogen-BoldOblique.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BBPoppinsTN";
  src: url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextRegular.woff2")
      format("woff2"),
    url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextRegular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Display - Bold */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextBold.woff2")
      format("woff2"),
    url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Display - SemiBold */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextSemiBold.woff2")
      format("woff2"),
    url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextSemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Display - Black */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextBlack.woff2")
      format("woff2"),
    url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-TextBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Display - Italic */
@font-face {
  font-family: "BBPoppinsTN";
  src: url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegularItalic.woff2")
      format("woff2"),
    url("./assets/fonts/BBPopinsTN/BBBPoppinsTN-DisplayRegularItalic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
  cursor: none !important;
}

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }
}
