@font-face {
  font-family: 'Halogen';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Halogen-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Halogen';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Halogen-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Halogen';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Halogen-Regular.woff2') format('woff2');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  outline: 5px solid red !important;
} */
